doctype html
html
  head
    title MHM Update Password
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        
        hr
        span Thanks for choosing MHM. Please 
        a(href='#{updatePassword_url}') update your password.
        
        p If you experience problems accessing the link, copy and paste the URL below into your Web browser.
        p URL: #{updatePassword_url}
        p If you continue to experience issues, please reach us at #{support_email}
        hr
        p MHM Team